<!-- Show all characters in cards -->

<div class="container">

    <mat-grid-list class="mt-5" cols="5" rowHeight="270px">
        <mat-grid-tile *ngFor="let character of characters">
            <mat-card class="card-character">
                <mat-card-header>
                    <mat-card-title> <a routerLink="/detail/{{ character.id }}">{{ character.name }}</a></mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="character.image" />
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>